.cards, .cards2{
    display: flex;
    justify-content: space-around;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}

.card img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.card2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    color: black;
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card2:hover {
    transform: scale(1.05);
}

.card2 a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}

.card2 img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.card3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 200px;
    max-width: 200px;
    text-align: center;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card3:hover {
    transform: scale(1.05);
}

.card3 a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}

.card3 img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.card4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card4:hover {
    transform: scale(1.05);
}

.card4 a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}

.card4 img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.card-buttons {
    position: flex;
    top: 10px;
    right: 10px;
}
.card-buttons button {
    margin-left: 5px;
    background: #f89864;
	font-size: 1.1rem;
	margin: 16px 16px 16px 0;
	cursor: pointer;
    border-radius: 30px;
    border: 1px solid #ff9f6b;
	color: #FFF;
}

.card5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    color: black;
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    max-width: 80%;
}

.card6{
    display: inline-table;
    height: 200px;
    width: 200px;
    text-align: center;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card6 button{
    display: inline-block;
    align-items: center;
    padding: 5px;
    margin: 16px;
}