body{
	margin: 0;
	color: #fff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 1.1rem;
}

header{
	height: 70px;
	background: #FCAF55;
	padding: 0 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header nav a{
	color: #FFF;
	text-decoration: none;
	padding: 0 0 21px 0;
}

header nav a:hover{
	color: #ff5900;
	
	border-bottom: 3px solid #ff5900; 
}

header nav a.active{
	color: #ac3c00;
	border-bottom: 3px solid #ac3c00;
}

.logotipo{
	display: flex;
	align-items: center;
    color: #FFF;
}

.logotipo img{
	width: 60px;
	height: 60px;
    border-radius: 30px;
}

.logotipo h1 span{
	color: #ff5900;
}

nav ul{
	display: flex;
	list-style-type: none;
	gap: 16px;
	margin: 0;
	padding: 0;
	align-items: center;
}

.banner{
	width: 100%;
}

footer{
	background: #272727;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	background-color: bisque;
	display: flex;
    justify-content: center;
}

.container-text{
	color: black;
	background-color: aliceblue;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: justify;
	padding: 15px;
}